<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>必须有</title>
</head>
<body>
    <table border="1" style="text-align: center">
        <tr>
            <td>ID</td>
            <td>name</td>
            <td>content</td>
        </tr>
        <tr>
            <td th:text="${config.id}">jkj</td>
            <td th:text="${config.name}">dfg</td>
            <td th:text="${config.content}">yutyu</td>
        </tr>
    </table>
</body>
</html>